<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- head partial -->
  </head>
  <body>
    

    
    <%- include('./partials/header') -%> <!-- includes header partial with navigation bar -->

    <!-- Sets up a welcome message.  We'll talk about the title variable placeholder next week. -->
    <h1 class="text-center">  <%= title %></h1>
    <p class="text-center"> Welcome, <%= name %></p>

    <form>
      <div class="container">
        <form>
        <label for="Logout user"><b>Logout user function</b></label>
        <br>
        </form>

        <div class="container">
        <form>
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter here" name="uname" required><button type="submit">Logout</button>
        </form>
        </div>

        <div class="container">
        <br>
        <form>
        <label for="impersonate"><b>Impersonate</b></label>
        <input type="text" placeholder="Enter here"Impersonate" required><button type="submit">Run as</button>
      </form>
      </div>
        <br>

        <div class="container">
        <form>
        <label for="New user"><b>New user</b></label>
        <button type="submit">Register</button>
        </div>
        </form>
        <br>
          
      
    <p class="text-center"> <a href="userdata"> Get user count</a></p>
    <p class="text-center"> <a href="users"> Get user list</a></p>
    <p class="text-center"> <a href="logout"> Logout</a></p>
    <br>
  </body>
</html>