<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%> <!-- head partial -->
  </head>
  <body>
    <%- include('./partials/header') -%> 
    <h1>Uh-oh...</h1>
    <p>Something went wrong.  Check the address that got you here.  Click <a href="/"> here </a> to return to the home page</p>
    <img src="images/foo.gif">
  </body>
</html>