<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') -%> <!-- head partial -->
</head>

<body>

  <%- include('./partials/header') -%> <!-- includes header partial with navigation bar -->

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="../images/homeimage.jpg" class="img-fluid" alt="Image">
        </div>
        <div class="col-md-6">
          <p style="font-size: 30px;;">BDPA is an awesome professional community website for Black data professionals to
            connect, learn, and grow</p>
        </div>
      </div>
    </div>

    <!-- <img src="../images/homeimage.jpg" alt="LOGO" width="700" height="400"> -->
    <%- include('./partials/footer') -%> <!-- includes footer partial -->
</body>

</html>