<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('./partials/head') -%> <!-- head partial -->

rahman

<style>
body 
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0a4bc4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


</style>

<script>
  function GenerateCaptcha(){
    var num1=Math.floor((Math.random()*10)+1);
    var num2=Math.floor((Math.random()*10)+1);
    document.getElementById("num1").innerHTML=num1;
    document.getElementById("num2").innerHTML=num2;
    return true;
  }
  function CheckCaptcha(){
      var num1=1*document.getElementById("num1").innerHTML;
      console.log(num1);
      var num2=1*document.getElementById("num2").innerHTML;
      console.log(num2);
      var answer=document.forms["loginform"]["captchanumber"].value;
      console.log(answer);
      if (num1+num2==answer){
          return true;
      }
      else{
          alert("Incorrect Captcha");
          GenerateCaptcha();
          loginform.reset();
          return false;
      }

  }
  </script>
</head>

<body onload="GenerateCaptcha()">
  <%- include('./partials/header') -%> <!-- includes header partial with navigation bar -->


<h2>Login Form</h2>

<form action="/login" name="loginform" id="loginform" onsubmit="return CheckCaptcha()" method="POST">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    
    <div class="form-floating">
      <input type="number" class="form-control" id="captchanumber" name="captchanumber" placeholder=""  maxlength="25"
       required>
      <label for="captchanumber">Calculate <span id="num1"> 1 </span> + <span id="num2"> 2 </span> = </label>
      </div>

    <button type="submit">Login</button>
    <label>

    
    

      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
  
    <span class="psw">Forgot <a href="/forgotPass">password?</a></span>
  </div>

</form>


</body>
</html>