<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- include('./partials/head') -%> <!-- head partial -->

<style>
body 
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #0a4bc4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


</style>

  <script>
  (function(){
    const fonts = ["cursive"];
    let captchaValue = "";
    function gencaptcha()
    {
        let value = btoa(Math.random()*1000000000);
        value = value.substr(0,5 + Math.random()*5);
        captchaValue = value;
    }
  ,
  
    function setcaptcha()
    {
        let html = captchaValue.split("").map((char)=>{
            const rotate = -20 + Math.trunc(Math.random()*30);
            const font = Math.trunc(Math.random()*fonts.length);
            return`<span
            style="
            transform:rotate(${rotate}deg);
            font-family:${font[font]};
            "
           >${char} </span>`;
        }).join("");
        document.querySelector(".login_form #captcha .preview").innerHTML = html;
    }
  
    function initCaptcha()
    {
        document.querySelector(".login_form #captcha .captcha_refersh").addEventListener("click",function(){
            gencaptcha();
            setcaptcha();
        });
  
        gencaptcha();
        setcaptcha();
    }
    initCaptcha();
  
    document.querySelector(".login_form .form_button").addEventListener("click",function(){
        let inputcaptchavalue = document.querySelector(".login_form #captcha input").value;
  
        if (inputcaptchavalue === captchaValue) 
        {
            // swal("","Log in","success");
            alert("Log in success");
        }
        else
        {
            // swal("Invalid Captcha");
            alert("Invalid Captcha");
        }
    });
  })();
</script>
</head>

<body onload="GenerateCaptcha()">
  <%- include('./partials/header') -%> <!-- includes header partial with navigation bar -->


<h2>Login Form</h2>

<form action="/login" method="POST">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>

    
    

      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
  
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
  <div class="form-floating">
    <input type="number" class="form-control" id="captchanumber" name="captchanumber" placeholder=""  maxlength="25"
     required>
    <label for="captchanumber">Calculate <span id="num1"> 1 </span> + <span id="num2"> 2 </span> = </label>
    </div>
</form>


</body>
</html>