<!-- starts our main navigation bar -->
<nav class="navbar navbar-expand-lg nav-justified" >
    <div class="container-fluid">
      <!-- The next three lines set up our logo with a link to the home page/view -->
      <a class="navbar-brand" href="/">
        <img src="/images/logo.png" alt="LOGO" width="42" height="42">
      </a>
      <!-- The next lines set up a button to display our navigation options when the screen is smaller -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- This starts the content for the navigation bar -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- We create an unordered list of navigation links/items.  The first one is a home link -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link-active custom-link" aria-current="page" href="/" > Home </a>
          </li>

          <% if (role != 'public') { %>

            <% if ((role==="staff") || (role==="administrator")){%>
            <li class="nav-item dropdown">
              <!-- Set up "title" for dropdown menu section -->
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Feed
              </a>
              <!-- Set up options for dropdown section--> <!-- href links are temporary placeholders here-->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/articles"> Feed </a></li> <!-- First dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="/myArticles"> My Feed </a></li> <!-- Second dropdown item-->
              </ul>
            </li>

            <li class="nav-item dropdown">
              <!-- Set up "title" for dropdown menu section -->
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Opportunity
              </a>
              <!-- Set up options for dropdown section--> <!-- href links are temporary placeholders here-->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/opportunities"> Opportunities </a></li> <!-- First dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="/myOpportunities"> My Opportunities </a></li> <!-- Second dropdown item-->
              </ul>
            </li>
            <% } %>

            <% if ((role==="inner")){%>
              <li class="nav-item dropdown">
                <!-- Set up "title" for dropdown menu section -->
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Feed
                </a>
                <!-- Set up options for dropdown section--> <!-- href links are temporary placeholders here-->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/articles"> Feed </a></li> <!-- First dropdown item-->
                  <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                  <li><a class="dropdown-item" href="/myArticles"> My Feed </a></li> <!-- Second dropdown item-->
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link-active custom-link" aria-current="page" href="/opportunities"> Opportunities </a>
              </li>
              <% } %>

              <% if (role == 'administrator') { %>
              
              <li class="nav-item dropdown ">
                <!-- Set up "title" for dropdown menu section -->
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Admin
                </a>
                <!-- Set up options for dropdown section--> <!-- href links are temporary placeholders here-->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/systemData"> System Data </a></li> <!-- First dropdown item-->
                  <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                  <li><a class="dropdown-item" href="/users"> Users List </a></li> <!-- Second dropdown item-->
                  <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                  <li><a class="dropdown-item" href="/register"> Register New User </a></li> <!-- Second dropdown item-->
                </ul>
              </li>

              <li class="nav-item" id="user-count"></li>
              <% } %> 
            
            <li class="nav-item dropdown ">
              <!-- Set up "title" for dropdown menu section -->
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <!-- Set up options for dropdown section--> <!-- href links are temporary placeholders here-->
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/profile"> Profile </a></li> <!-- First dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
                <li><a class="dropdown-item" href="/profileedit"> Profile Edit </a></li> <!-- Second dropdown item-->
                <li><hr class="dropdown-divider"></li> <!-- Horizontal rule to act as divider-->
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link-active custom-link" aria-current="page" href="/logout"> Logout </a>
            </li>
          <% } %> 

          <!-- We may need to add a submenu for product information and entry -->
          <!-- We will need to add an About Us submenu-->
          <!-- Link for registration -->
          <!-- <li class="nav-item">
            <a class="nav-link-active" aria-current="page" href="/resttest"> RestAPI Tester </a>
          </li> -->

          <% if (role == 'public') { %>
            
          <li class="nav-item">
            <a class="nav-link-active custom-link" aria-current="page" href="/register"> Register </a>
          </li>
          <!-- Link for login (Placeholder for now)-->
          <li class="nav-item">
            <a class="nav-link-active custom-link" aria-current="page" href="/login"> Login </a>
          </li>
          <% } %>
        </ul>
      </div> <!-- closes the collapse/navbar-collapse navbar content -->
    </div> <!-- closes our container-fluid section -->
  </nav>